[Unit]
Description=Mount VeraCrypt Volumes
After=default.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '\
    /usr/bin/veracrypt --text --mount /dev/md126p2 /mnt/veracrypt1 --keyfiles="" --pim {{ veracrypt_pim }} --password {{ password }} --protect-hidden=no || exit 1; \
    if [ -e /dev/sde ]; then \
        /usr/bin/veracrypt --text --mount /dev/sde /mnt/veracrypt2 --keyfiles="" --pim {{ veracrypt_pim }} --password {{ password }} --protect-hidden=no || true; \
    fi'
ExecStop=/bin/bash -c '\
    /usr/bin/veracrypt --text --dismount /mnt/veracrypt1; \
    if [ -e /dev/sde ]; then \
        /usr/bin/veracrypt --text --dismount /mnt/veracrypt2 || true; \
    fi'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
